<div class="center jumbotron">
  <h1>Welcome to Maztagram</h1>

  <h2>
    The social network where you can share and see friends pictures
  </h2>

  <%= link_to "Check it out!", shop_path, class: "btn btn-lg btn-primary" %>
</div>


