<footer class="footer">
  <small>
    This website is build using Ruby on Rails - Produced by Mazen Sehgal
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>

    </ul>
  </nav>
</footer>
